In [10]:
import pandas as pd
import numpy as ny

df = pd.read_excel("kiva_loans.xlsx")

In [21]:
df.head()

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300,300,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12,12,NaN,female,irregular,2014-01-01
1,653053,575,575,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11,14,NaN,"female, female",irregular,2014-01-01
2,653068,150,150,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43,6,"user_favorite, user_favorite",female,bullet,2014-01-01
3,653063,200,200,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11,8,NaN,female,irregular,2014-01-01
4,653084,400,400,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14,16,NaN,female,monthly,2014-01-01

In [39]:
list = "female, male, male, female, male"
f=0
m=0

for len(list):
    if "female" in list or "female, " in list:
        f+=1
    print(f)

SyntaxError: invalid syntax (<ipython-input-39-1bd0a5dd6678>, line 5)

In [22]:
#while loop for female, female and then male,male in the end only things left with , are female, male and male, female so that
#the groups with both male and female have , 

while df["borrower_genders"].str.contains("female, female").all():
    df["borrower_genders"] = df["borrower_genders"].replace("female, female","female")

while df["borrower_genders"].str.contains("male, male").all():
    df["borrower_genders"] = df["borrower_genders"].replace("male, male","male")

In [30]:
def groupComposition(x):
    if df['borrower_genders'].str.contains("female, male")==True or df['borrower_genders'].str.contains("male, female")==True:
        return "Female & Male"
    #if df['borrower_genders']=="female":
     #   return "Female Only"
    #if df['borrower_genders']=="male":
     #   return "Male Only"

In [31]:
df["Group Composition"]=df["borrower_genders"].apply(groupComposition)
df.tail()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().